server:
  port: 8002

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/dw_core?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: password
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      username: ${REDIS_USERNAME}
      password: ${REDIS_PASSWORD}
  
  ai:
    google:
      gemini:
        api-key: ${GEMINI_API_KEY}

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true

dubbo:
  protocol:
    name: dubbo
    port: 20881
  registry:
    address: nacos://${SPRING_CLOUD_NACOS_DISCOVERY_SERVER_ADDR:127.0.0.1:8848}
  consumer:
    check: false