server:
  port: 8080

spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: dw-auth
          uri: lb://dw-auth
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1
        - id: dw-core
          uri: lb://dw-core
          predicates:
            - Path=/api/core/**
          filters:
            - StripPrefix=1