server:
  port: 8001

spring:
  application:
    name: dw-auth
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
      config:
        server-addr: 127.0.0.1:8848
        file-extension: yaml
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/dw_auth?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: password # TODO: Change for prod

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
